
<div *ngIf="ba01Utente">
    <h2><span>Ba 01 Utente</span> {{ba01Utente.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nmnome</span></dt>
        <dd>
            <span>{{ba01Utente.nmnome}}</span>
        </dd>
        <dt><span>Cdcod</span></dt>
        <dd>
            <span>{{ba01Utente.cdcod}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ba-01-utente/'+ ba01Utente.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
