
<div *ngIf="obi02IndicValu">
    <h2><span>Obi 02 Indic Valu</span> {{obi02IndicValu.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Tivalu</span></dt>
        <dd>
            <span>{{obi02IndicValu.tivalu}}</span>
        </dd>
        <dt><span>Ndvalinf</span></dt>
        <dd>
            <span>{{obi02IndicValu.ndvalinf}}</span>
        </dd>
        <dt><span>Ndvalsup</span></dt>
        <dd>
            <span>{{obi02IndicValu.ndvalsup}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'obi-02-indic-valu/'+ obi02IndicValu.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
