
<div *ngIf="ind02Std">
    <h2><span>Ind 02 Std</span> {{ind02Std.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Dl Des</span></dt>
        <dd>
            <span>{{ind02Std.dlDes}}</span>
        </dd>
        <dt><span>Dl Url</span></dt>
        <dd>
            <span>{{ind02Std.dlUrl}}</span>
        </dd>
        <dt><span>Db Cod</span></dt>
        <dd>
            <span>{{ind02Std.dbCod}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ind-02-std/'+ ind02Std.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
