<div>
    <h2>
        <span>Obiettivi Inds</span>
        <button class="btn btn-primary float-right jh-create-entity create-obiettivi-ind" [routerLink]="['/', { outlets: { popup: ['obiettivi-ind-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Obiettivi Ind
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="obiettiviInds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Dt Ini</span></th>
            <th><span>Dt Fine</span></th>
            <th><span>Ti Segno</span></th>
            <th><span>Ind 01 Indic</span></th>
            <th><span>Ind 12 Query</span></th>
            <th><span>Obi 00 Obiettivo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obiettiviInd of obiettiviInds ;trackBy: trackId">
                <td><a [routerLink]="['../obiettivi-ind', obiettiviInd.id ]">{{obiettiviInd.id}}</a></td>
                <td>{{obiettiviInd.dtIni | date:'mediumDate'}}</td>
                <td>{{obiettiviInd.dtFine | date:'mediumDate'}}</td>
                <td>{{obiettiviInd.tiSegno}}</td>
                <td>
                    <div *ngIf="obiettiviInd.ind01Indic">
                        <a [routerLink]="['../ind-01-indic', obiettiviInd.ind01Indic?.id ]" >{{obiettiviInd.ind01Indic?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="obiettiviInd.ind12Query">
                        <a [routerLink]="['../ind-12-query', obiettiviInd.ind12Query?.id ]" >{{obiettiviInd.ind12Query?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="obiettiviInd.obi00obiettivo">
                        <a [routerLink]="['../obiettivi', obiettiviInd.obi00obiettivo?.id ]" >{{obiettiviInd.obi00obiettivo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../obiettivi-ind', obiettiviInd.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'obiettivi-ind/'+ obiettiviInd.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'obiettivi-ind/'+ obiettiviInd.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
